
main{
    background: linear-gradient(#FEFEFE, rgb(70, 70, 70));
    padding: 1em;
}
.produtos {
    width: 940px;
    margin: 10px auto;
    padding: 20px;
}
.produtos h1{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline;
    color: darkred;
    margin-bottom: 40px;
    
}
.produtos ul{
    margin: 0px auto;
}
.produtos li {
    display: inline-table;
    margin: 0px 5%;
    padding: 20px;
    border: 2px outset;
    border-radius: 5px;    
}
.produtos a{
    text-decoration: none; 
}
.produtos li:hover{
    transition: 0,5s;
    cursor: pointer;
    transform: scale(1.1);
}
.produtos img {
    width: 300px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.produtos h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    color: black;
}
.produtos p {
    font-size: 18px;
    text-align: center;
    color: black;
}

